/* pagewide styles */

body {
  background: pink;
  font-size: 16px;
  color: #404040;
  font-family:  Tahoma, sans-serif;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

/* text-related styles */

h1, h2, h3, p, li {
  margin: 10px auto 20px auto;
}

h1 {
  font-size: 3em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.4em;
  color: #910059;
}

ul li {
  list-style: circle inside;
}

/* box-level styles */

.box {
  border-top: 20px solid #910059;
  border-image: linear-gradient(to left, pink,#910059, pink) 5;
  padding: 20px;
  margin: 0 auto 20px auto;
}

.box:last-child {
  border-bottom: 20px solid #910059;
}